doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    title Noom
  body
    header
      h1 Noom
    main
      #welcome
        form
          input(type="text", placeholder="Room's Name", required)
          button Enter Room
        h4 Open rooms:
        ul
      #room(hidden)
        h3
        ul
        form#name
          input(type="text", placeholder="Nickname", required)
          button Send
        form#message
          input(type="text", placeholder="Message", required)
          button Send
  script(src="/socket.io/socket.io.js")
  script(src="/public/js/app.js")
